 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1099px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 29px 543px 0 0;
}

.u-section-1 .u-image-1 {
  width: 235px;
  height: 235px;
  background-image: url("images/fuar-ekipmanlari.jpg");
  background-position: 50% 50%;
  margin: 14px 186px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: -210px 506px 0 0;
}

.u-section-1 .u-image-2 {
  width: 235px;
  height: 235px;
  background-image: url("images/fuar-organizasyonu-adem-tamer-01-495x400.jpg");
  background-position: 50% 50%;
  margin: 69px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: -205px 186px 0 342px;
}

.u-section-1 .u-image-3 {
  width: 235px;
  height: 235px;
  background-image: url("images/fuar-tamacl.jpg");
  background-position: 50% 50%;
  margin: 61px 186px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: -209px 528px 0 0;
}

.u-section-1 .u-image-4 {
  width: 235px;
  height: 235px;
  background-image: url("images/Fuar-takvimi1.jpg");
  background-position: 50% 50%;
  margin: 59px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: -199px 388px -186px 342px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-right: 343px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -17px;
    margin-right: 39px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -192px;
    margin-right: 306px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 39px;
    margin-left: 289px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 77px;
    margin-right: 39px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -219px;
    margin-right: 328px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 57px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin: -205px 241px 60px 289px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
    margin-right: 124px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -235px;
    margin-right: 300px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -235px;
    margin-right: 0;
    margin-left: 320px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -235px;
    margin-right: 360px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-5 {
    margin: -235px 65px -51px 320px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 238px;
    height: 238px;
    margin-top: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -238px;
    margin-right: 237px;
  }

  .u-section-1 .u-image-2 {
    width: 238px;
    height: 238px;
    margin-top: 44px;
    margin-left: -13px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -270px;
    margin-left: 237px;
  }

  .u-section-1 .u-image-3 {
    width: 238px;
    height: 238px;
    margin-top: 48px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -244px;
    margin-right: 250px;
  }

  .u-section-1 .u-image-4 {
    width: 238px;
    height: 238px;
    margin-top: 50px;
  }

  .u-section-1 .u-text-5 {
    margin: -251px 36px -254px 302px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2086px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -16px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 273px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -497px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 527px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -507px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 535px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -497px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 458px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin: -427px 0 23px;
  }
}